.contact-nav__list {
	display: flex;
	flex-direction: column-reverse;

	@media screen and (min-width: $tablet) {
		flex-direction: column;
	}

	@media screen and (min-width: $desktop) {
		flex-direction: row;
	}
}

.contact-nav__item {

	&:not(:last-child) {
		@media screen and (max-width: ($tablet - $krok)) {
			margin-top: 32px;
		}

		@media screen and (min-width: $tablet) and (max-width: ($desktop - $krok)) {
			margin-bottom: 10px;
		}

		@media screen and (min-width: $desktop) {
			margin-right: 30px;
		}
	}
}

.contact-nav__link {
	@include navLink(inline-flex);
	font-size: 34px;
	line-height: 1.18;
	align-items: center;

	color: $title-text-color;

	transition: color $transition-animation;

	@media screen and (min-width: $tablet) {
		font-size: 14px;
		line-height: 1.14;
	}

	@media screen and (min-width: $desktop) {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	&:hover,
	&:focus {
		color: $accent-color;
	}

	&--small {
		@media screen and (max-width: ($tablet - $krok)) {
			font-size: 24px;
			line-height: 1.17;
		}
	}

	&--blue {
		@media screen and (max-width: ($tablet - $krok)) {
			color: $accent-color;
		}
	}
}

.contact-nav__icon {
	display: none;
	margin-right: 10px;
	fill: currentColor;

	@media screen and (min-width: $tablet) {
		display: block;
	}
}
