.hero {
	@include centeredFlex();
	max-width: 1600px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;

	background-color: #c4c4c4;
	@include bg-ratioImg (hero_480);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	color: $primary-bg-color;
	text-align: center;

	@media screen and (min-width: $tablet) {
		@include bg-ratioImg (hero_768);
	}

	@media screen and (min-width: $desktop) {
		height: 600px;
		@include bg-ratioImg (hero);
	}

}

.hero__title {
	max-width: 360px;
	margin-top: 0;
	margin-bottom: $card-set-gap;
	margin-left: auto;
	margin-right: auto;

	font-weight: 900;
	font-size: 26px;
	line-height: 1.62;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	@media screen and (min-width: $desktop) {
		max-width: 700px;
		font-size: 44px;
		line-height: 1.36;
	}
}

.hero__btn {
	display: block;
	margin: 0 auto;
	@extend %btn;
}