%_title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

%bottomRadius {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

%titleFooter {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $primary-bg-color;
}

%borderInput {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border $transition-animation;
}

%inputFocus {
    outline: none;
    border: 1px solid $accent-color;
}

%btn {
    cursor: pointer;
    border: none;
    border-radius: 4px;

    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: $primary-bg-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color $transition-animation;

    &:hover,
    &:focus {
        background-color: $btn-prymary-accent-color;
    }
}